.footer-container{
    width: 100%;
    background-color: #141414;
    margin-top: 30px;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 300px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
}

.footer-wrapper-box{
    height: 100%;
}

.footer-wrapper-box-header{
    margin: 10px 0px;
    font-size: 22px;
}

.footer-wrapper-box-li{
    list-style: none;
    font-size: 10px;
    color: #c7c7c7;
    font-weight: 500;
    font-size: 12px;
    padding: 2px 0px;
}


.contact-us{
    margin-top: 15px;
    color: white;
}

.footer-end{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.footer-end-logo{
    width: 15px;
    margin-bottom: 5px;
}

@media (max-width: 768px){
    .footer-wrapper{
        height: 250px;
    }

    .footer-wrapper-box-header{
        font-size: 18px;
    }

    .footer-wrapper-box-li{
        font-size: 10px;
        width: 100%;
    }

}

@media (max-width: 550px){


    .footer-wrapper{
        gap: 5px;
        padding: 10px;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-wrapper-box-header{
        font-size: 14px;
    }

    .footer-wrapper-box-li{
        font-size: 6px;
        width: 100%;
    }

}